:root {
    --heading-font-family: 'Redressed', cursive;
    --default-font-family: 'Roboto', sans-serif;
    --primary-color: rgb(210, 231, 185);
    --secondary-color: rgb(76, 136, 89);


}


h1, h3 {
    
    text-align: center;
    color: rgb(53, 14, 14);
    background-color: var(--primary-color);
    
}

h2 {
    font-size: 30px;
}

h3 {
    padding: 15px 5px;
    font-family: var(--heading-font-family);
 }

 .hero {
     padding: 20px 20px;
 }
.btn btn-primary {
    background-color: green;
   }

p {
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
}
 
.btn-branding {
    border: 1px solid;
    border-radius: 4px;
    font-size: 18px;
    line-height: 27px;
    color:#198754;
    padding: 15px 30px;
}

.project-description {
    padding: 20px;
}
@media (max-width: 896px) {
    .project-description {
        padding: 0;
        text-align: center;
    }
    .content {
        text-align: center;
        padding: 0;
    }
    .content {
        padding: 0;
        line-height: 1;
        margin-top: 0px;
    }
}
.content-container h1 {
    font-size: 40px;
    line-height:1. ;
}

.content-container h2 {
    font-size: 20px;
    font-family: var(--default-font-family);
    line-height: 1;
}

.content-container {
    padding: 25px;
}

.content-container {
    margin: 30px;
    
}
    

    



 


    

